
<!-- <p>lista works!</p>
{{ works | json }} -->

    <!--main class="wor">
            <table class="table  mt-5">
                <thead class="table-dark ">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Posibilidad de asenso</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let w of works">
                    <td>{{w.nombre}}</td>
                    <td>{{w.asenso}}</td>
                    <td><button class="btn btn-outline-primary" routerLink="/update/{{w.id}}"><li class="far fa-edit">Editar</li></button></td>
                </tr>
            </table>
  </main-->
  
  <!-- <td></td> --> 


 <div class="navegar">
      <form class="d-flex" [formGroup]="filtro"  (ngSubmit)="filtrar()">
        <input class="form-control me-2" formControlName="dato" type="search"   placeholder="Buscar por nombre" aria-label="Search">
        <button class="btn btn-secondary" type="submit" >Buscar</button>
      </form>
      <small *ngIf="filtro.get('p')?.invalid && filtro.get('p')?.touched" id="p" class="text-danger">El titulo es requerido</small>

 </div>
      
      
  <!-- <div>
    <mat-form-field>
    <Input matInput (keyup)="filtrar($event.target.value)">
    </mat-form-field>
</div> -->

  <main class="wor">
        
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
        
           
            <ng-container matColumnDef="Id" >
            <th mat-header-cell *matHeaderCellDef> id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
        
           
            <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre vacante laboral </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="Asenso">
            <th mat-header-cell *matHeaderCellDef> Posibilidad de asenso </th>
            <td mat-cell *matCellDef="let element"> {{element.asenso}} </td>
            </ng-container>

            
            <ng-container matColumnDef="Editar">
                <th mat-header-cell *matHeaderCellDef> Editar</th>
                <td mat-cell *matCellDef="let element"> 
                    <button class="btn btn-success" (click)="onModal(element)">update</button>  
                </td>
                </ng-container>
        
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        

        </table> 

    </main>

    <!--<p>wwwwwww</p>-->