<div class="loginContainer">
<div class="formContent">
  <h1>Login</h1>
  <figure>
    <img src="assets/img/svg/imgLogin.svg" alt="Login">
  </figure>
  <div class="form">
    <form>
      <div class="mb-3">
        <label for="email" class="form-label">Direccion de Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">No compartiremos tu email con nadie mas</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password">
      </div>
      <a type="button" class="btn btn-primary" routerLink="/nuevo">Entrar</a>
    </form>
  </div>
</div>
</div>

