.wor{
    margin: 35px;
    text-transform:uppercase;
    
    
}


th{

    text-align: center;
    background: #198754;
    font-size: 20px;
    color: white;
    font-weight: bold;

}

td{

    font-size: 20px;
    text-align:left;
    
}


a{
    font-size: 20px;
    color: white;
    margin-left: 25px;
}



.navegar {

    background: #198754;
}


.navegar form{

    margin-left: 40%;
    padding: 10px;
    background: #198754;
}